h1{
  font-weight: bold;
}

.esquerda-10
{
  margin-left: 15px;
}
.esquerda-15
{
  margin-left: 15px;
}

.branco{
  color: white;
}

.top-10{
  margin-top: 10px;
}

.direita-12
{
  margin-right: 12px;
}

.card-padrao{
  padding-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
