ion-button {
  --border-color: none;
  --border-width: 0px !important;
}
.botao-redondo {
  height: 20px;
  line-height: 20px;
  width: 20px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  text-align: center;
  cursor: pointer;
}

.roundbutton{
  display:block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid red;

}

.esquerda-15
{
  margin-left: 15px;
}

.direita-12
{
  margin-right: 12px;
}

.card-padrao{
  padding-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
