<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 01</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="background-color: #3c79e0">
    <ion-row>
      <ion-col col-2>
        <div style="padding-left: 10px">
          <h1 class="branco">{{ saudacao}} Usuário</h1>
        </div>
      </ion-col>
      <ion-col col-2>
        <div style="text-align: right">
          <ion-button style="border: 0px; margin-top: 30px;" color="padrao">
            <ion-icon slot="icon-only" color="light" name="cog"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div style="height: 5px; width: 100%; background-color: yellow"></div>
  <ion-list style="font-size: x-large">
    <ion-label>
      <ion-row style="height: 65px">
        <ion-col col-2 style="margin-left: 10px">
          <h1>Saldo Geral</h1>
          <h1 style="color: #3c79e0; font-size: 20px; font-weight: bolder">
            R$2578,98
          </h1>
        </ion-col>
        <ion-col col-2>
          <div style="text-align: right; margin-right: 10px">
            <ion-card-subtitle style="font-size: large"
              >Exibir valor</ion-card-subtitle
            >
            <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
          </div>
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-list>
  <p class="top-10 esquerda-10">Acesso rápido</p>
  <ion-card>

    <div style="margin-left: 15px; margin-right: 15px; padding-bottom: 8px">



    </div>
  </ion-card>



</ion-content>
