<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 80px; background-color: #3c79e0">
    <ion-row>
      <ion-col col-2>
        <div style="padding-left: 10px">
          <h1 class="branco"> Menu</h1>
        </div>
      </ion-col>
      <ion-col col-2>
        <!-- <div style="text-align: right">
          <ion-button style="border: 0px; margin-top: 30px" color="padrao">
            <ion-icon slot="icon-only" color="light" name="cog"></ion-icon>
          </ion-button>
        </div> -->
      </ion-col>
    </ion-row>
  </div>
  <div style="height: 5px; width: 100%; background-color: yellow"></div>

  <ion-searchbar type="text" placeholder="Buscar" (ionChange)="buscaMenu($event)"></ion-searchbar>
  <ion-list>
      <ion-item [routerLink]="['/' + links[i]]" *ngFor="let item of itens; let i = index">
        <ion-icon style="padding-right: 10px; color: #3c79e0;" name={{icones[i]}} > </ion-icon>
        {{item }}  </ion-item>
  </ion-list>


</ion-content>
